dist/
build/
out/
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
.cache/
tmp/
temp/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.vscode/
.idea/
*.swp
*.swo
*.sublime-*
*.DS_Store